<div class="container">
  <div class="row justify-content-center">
    <div class="input-group mb-3 w-25">
      <span
        class="input-group-text border-0"
        style="color: red"
        id="basic-addon1"
        >Aka</span
      >
      <input
        type="text"
        maxlength="15"
        class="form-control border-0 shadow-none"
        placeholder="Write the Aka Name here"
        name="akaName"
        [(ngModel)]="Scorecard.akaName"
      />
    </div>
    <div class="input-group mb-3 w-25">
      <span
        class="input-group-text border-0"
        style="color: blue"
        id="basic-addon1"
        >Ao</span
      >
      <input
        type="text"
        maxlength="15"
        class="form-control border-0 shadow-none"
        placeholder="Write the Ao Name here"
        name="aoName"
        [(ngModel)]="Scorecard.aoName"

        
      />
      <div class="saveButton">
        <button class="btn btn-danger" (click)="onSave()">Finish</button>
      </div>
    </div>
  </div>
</div>
