input{
    background-color: transparent;
}

input::placeholder{
    color: white;
}

span{
    background-color: transparent;
}

.center{
    margin-top: 60px;
}

@keyframes scoreBoard{
  from{width: 50%;}
  to{width: 100%;}
}

.center{
  animation: scoreBoard 1s;
}


