input{
    background-color: transparent;
}

input::placeholder{
    color: white;
}

span{
    background-color: transparent;
}

.container{
    margin-top: 60px;
}

@keyframes scoreBoard{
  from{width: 30%;}
  to{width: 100%;}
}

.container{
  animation: scoreBoard 2s;
}
.saveButton{
  margin-left: 150%;
}
.btn-danger{
  border-radius: 10px;

}


