<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/pngwing.com.png" alt="logo"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li id="link" class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stats</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<div id="main">
    <div id="float" class="container-fluid">
        <a href=""><img class="logo" src="../../../assets/pngwing.com.png" alt="logo"></a>
        
        <ul class="list">
            <li>
                <a [routerLink]="'/start'">Start Match</a>
            </li>
            <li>
                <a [routerLink]="'/stats'">Match Stats</a>
            </li>
        </ul>
    </div>
</div>
  <!-- <router-outlet></router-outlet> -->