.aka-section {
  background-color: #8b0000;
  color: white;
  text-align: center;
}

.ao-section {
  background-color: #00008b;
  color: white;
  text-align: center;
}

.container .col-9 {
  width: 75%;
}

.aka-section,
.ao-section {
  height: 450px; /* Adjust the height as needed */
}

.playerScore {
  font-size: 100px;
}

.count-down {
  text-align: center;
  justify-content: center;
  position: absolute;
  font-size: 70px;
  color: white;
}

#stopwatch {
  position: absolute;
  width: 150px;
}

.match-time {
  margin-top: 300px;
  color: white;
}

.match-time > button {
  border: 0;
  border-radius: 5px;
  background-color: rgb(59, 3, 3);
  margin: 1px;
  width: 30px;
  color: white;
}

.categoryAka {
  border: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #00008b;
  color: white;


}

.categoryAo {
  border: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #8b0000;
  color: white;

}

span {
  margin-right: 40px;
  padding: 20px;

  i{
    position: fixed;
  }
}

.score > button {
  border: none;
}

.footer {
  position: absolute;
  margin-top: 405px;

  .left-btn {
    margin-right: 200px;
  }

  .right-btn {
    margin-left: 200px;
  }

  button {
    border: none;
    border-radius: 5px;
    margin: 2px;
    width: 100px;
  }
}


// span{
//   animation: easeOutAnimation 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
// }
// @keyframes easeOutAnimation {
//   0% {
//     transform: translateX(0);
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(100px); /* Adjust this value as needed */
//     opacity: 2;
//   }
// }

