.aka-section {
  background-color: #8b0000;
  color: white;
  text-align: center;
}

.ao-section {
  background-color: #00008b;
  color: white;
  text-align: center;
}

.container .col-9 {
  width: 75%;
}

.aka-section,
.ao-section {
  height: 450px; /* Adjust the height as needed */
}

.playerScore {
  font-size: 100px;
}

.count-down {
  // text-align: center;
  // justify-content: center;
  position: absolute;
  font-size: 70px;
  color: white;
}

#stopwatch {
  position: absolute;
  width: 150px;
}

.match-time {
  margin-top: 300px;
  color: white;
}

.match-time > button {
  border: 0;
  border-radius: 5px;
  background-color: rgb(59, 3, 3);
  margin: 1px;
  width: 30px;
  color: white;
}

.categoryAka {
  border: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #00008b;
  color: white;
  margin-right: 20px;
}

.categoryAo {
  border: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #8b0000;
  color: white;
  margin-right: 20px;
}

span {
  margin-right: 60px;

  i {
    position: fixed;
    padding: 6px;
    border-radius: 5px;
  }
}

.score > button {
  border: none;
}

.footer {
  position: absolute;
  margin-top: 405px;

  // .left-btn {
  //   margin-right: 200px;
  // }

  // .right-btn {
  //   margin-left: 200px;
  // }

  button {
    border: none;
    border-radius: 5px;
    margin: 2px;
    width: 100px;
  }
}

.resetPanelty {
  border: none;
  position: absolute;
  margin-left: 140px;
  background-color: transparent;
}

.btn-dark {
  background-color: transparent;
  padding: 5px;
  justify-content: center;
  border: none;
}

.btn-dark:focus {
  background-color: transparent;
}

@keyframes scoreBoard {
  from {
    width: 55%;
  }
  to {
    width: 100%;
  }
}

.container {
  animation: scoreBoard 2s;
}

@keyframes paneltyButtons {
  from {
    background-color: rgb(255, 31, 31);
  }
  to {
    background-color: transparent;
  }
  from {
    color: transparent;
  }
  to {
    color: white;
  }
  from {
    font-weight: bolder;
  }
}

span > i {
  animation: paneltyButtons 2s;
}

.hajime:hover,
.matte:hover {
  color: black;
}
.hajime:focus,
.matte:focus {
  color: black;
}

@keyframes footerAnimation {
  from {
    width: 30%;
  }
  to {
    width: 58%;
  }
}

.footer{
  animation: footerAnimation 2s;
}
